// Varibles to be loaded into Terraform Cloud

databricks_account_id = ""
client_id = ""
client_secret = ""
//profile = ""
region = ""
project_name = ""
vpc_id = ""
resource_prefix = ""
//ucname = ""
uc_metastore_id = ""
aws_account_id = ""
subnet_a_id = ""
subnet_b_id = ""
subnet_endpoint_id = ""
route_table_id = ""

AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""